run = "docker run -d -p 8000:80 -v $PWD:/var/www/html php:apache"
modules = ["php-8.2"]

[workflows]
runButton = "Run PHP Server"

[[workflows.workflow]]
name = "Run PHP Server"
author = 41275684
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:5000 -t public/"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "docker run -d -p 8000:80 -v $PWD:/var/www/html php:apache"]

[nix]
channel = "stable-25_05"
